Steps 
1. download data 
2. clean data
3. connect to SQL database
4. push data to DB

In [6]:
# get the team codes for all the premier league team
import requests
import pandas as pd
import keep_safe
url = "https://v3.football.api-sports.io/teams?league=39&season=2018"

payload={}
headers = {
  'x-rapidapi-key': keep_safe.api_key,
  'x-rapidapi-host': 'v3.football.api-sports.io'
}

response_teams = requests.request("GET", url, headers=headers, data=payload)
print(response_teams.text)

{"get":"teams","parameters":{"league":"39","season":"2018"},"errors":[],"results":20,"paging":{"current":1,"total":1},"response":[{"team":{"id":33,"name":"Manchester United","code":"MUN","country":"England","founded":1878,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/33.png"},"venue":{"id":556,"name":"Old Trafford","address":"Sir Matt Busby Way","city":"Manchester","capacity":76212,"surface":"grass","image":"https:\/\/media-2.api-sports.io\/football\/venues\/556.png"}},{"team":{"id":34,"name":"Newcastle","code":"NEW","country":"England","founded":1892,"national":false,"logo":"https:\/\/media-1.api-sports.io\/football\/teams\/34.png"},"venue":{"id":562,"name":"St. James' Park","address":"St. James&apos; Street","city":"Newcastle upon Tyne","capacity":52389,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/562.png"}},{"team":{"id":35,"name":"Bournemouth","code":"BOU","country":"England","founded":1899,"national":false,"logo":"https:\/\/media-1.api-sports.io\/football\/teams\/35.png"},"venue":{"id":504,"name":"Vitality Stadium","address":"Dean Court, Kings Park","city":"Bournemouth, Dorset","capacity":12000,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/504.png"}},{"team":{"id":36,"name":"Fulham","code":"FUL","country":"England","founded":1879,"national":false,"logo":"https:\/\/media-1.api-sports.io\/football\/teams\/36.png"},"venue":{"id":535,"name":"Craven Cottage","address":"Stevenage Road","city":"London","capacity":25700,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/535.png"}},{"team":{"id":37,"name":"Huddersfield","code":"HUD","country":"England","founded":1908,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/37.png"},"venue":{"id":543,"name":"John Smith's Stadium","address":"Stadium Way","city":"Huddersfield, West Yorkshire","capacity":24554,"surface":"grass","image":"https:\/\/media-1.api-sports.io\/football\/venues\/543.png"}},{"team":{"id":38,"name":"Watford","code":"WAT","country":"England","founded":1881,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/38.png"},"venue":{"id":596,"name":"Vicarage Road","address":"Vicarage Road","city":"Watford","capacity":22200,"surface":"grass","image":"https:\/\/media-2.api-sports.io\/football\/venues\/596.png"}},{"team":{"id":39,"name":"Wolves","code":"WOL","country":"England","founded":1877,"national":false,"logo":"https:\/\/media-3.api-sports.io\/football\/teams\/39.png"},"venue":{"id":600,"name":"Molineux Stadium","address":"Waterloo Road","city":"Wolverhampton, West Midlands","capacity":32050,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/600.png"}},{"team":{"id":40,"name":"Liverpool","code":"LIV","country":"England","founded":1892,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/40.png"},"venue":{"id":550,"name":"Anfield","address":"Anfield Road","city":"Liverpool","capacity":55212,"surface":"grass","image":"https:\/\/media-1.api-sports.io\/football\/venues\/550.png"}},{"team":{"id":41,"name":"Southampton","code":"SOU","country":"England","founded":1885,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/41.png"},"venue":{"id":585,"name":"St. Mary's Stadium","address":"Britannia Road","city":"Southampton, Hampshire","capacity":32689,"surface":"grass","image":"https:\/\/media-1.api-sports.io\/football\/venues\/585.png"}},{"team":{"id":42,"name":"Arsenal","code":"ARS","country":"England","founded":1886,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/42.png"},"venue":{"id":494,"name":"Emirates Stadium","address":"Queensland Road","city":"London","capacity":60383,"surface":"grass","image":"https:\/\/media-2.api-sports.io\/football\/venues\/494.png"}},{"team":{"id":43,"name":"Cardiff","code":"CAR","country":"Wales","founded":1889,"national":false,"logo":"https:\/\/media-3.api-sports.io\/football\/teams\/43.png"},"venue":{"id":516,"name":"Cardiff City Stadium","address":"Leckwith Road","city":"Caerdydd","capacity":33280,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/516.png"}},{"team":{"id":44,"name":"Burnley","code":"BUR","country":"England","founded":1882,"national":false,"logo":"https:\/\/media-3.api-sports.io\/football\/teams\/44.png"},"venue":{"id":512,"name":"Turf Moor","address":"Harry Potts Way","city":"Burnley","capacity":22546,"surface":"grass","image":"https:\/\/media-1.api-sports.io\/football\/venues\/512.png"}},{"team":{"id":45,"name":"Everton","code":"EVE","country":"England","founded":1878,"national":false,"logo":"https:\/\/media-1.api-sports.io\/football\/teams\/45.png"},"venue":{"id":8560,"name":"Goodison Park","address":"Goodison Road","city":"Liverpool","capacity":40569,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/8560.png"}},{"team":{"id":46,"name":"Leicester","code":"LEI","country":"England","founded":1884,"national":false,"logo":"https:\/\/media-1.api-sports.io\/football\/teams\/46.png"},"venue":{"id":547,"name":"King Power Stadium","address":"Filbert Way","city":"Leicester, Leicestershire","capacity":34310,"surface":"grass","image":"https:\/\/media-1.api-sports.io\/football\/venues\/547.png"}},{"team":{"id":47,"name":"Tottenham","code":"TOT","country":"England","founded":1882,"national":false,"logo":"https:\/\/media-1.api-sports.io\/football\/teams\/47.png"},"venue":{"id":593,"name":"Tottenham Hotspur Stadium","address":"Bill Nicholson Way, 748 High Road","city":"London","capacity":62850,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/593.png"}},{"team":{"id":48,"name":"West Ham","code":"WES","country":"England","founded":1895,"national":false,"logo":"https:\/\/media-3.api-sports.io\/football\/teams\/48.png"},"venue":{"id":598,"name":"London Stadium","address":"Marshgate Lane, Stratford","city":"London","capacity":62500,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/598.png"}},{"team":{"id":49,"name":"Chelsea","code":"CHE","country":"England","founded":1905,"national":false,"logo":"https:\/\/media-3.api-sports.io\/football\/teams\/49.png"},"venue":{"id":519,"name":"Stamford Bridge","address":"Fulham Road","city":"London","capacity":41841,"surface":"grass","image":"https:\/\/media-1.api-sports.io\/football\/venues\/519.png"}},{"team":{"id":50,"name":"Manchester City","code":"MAC","country":"England","founded":1880,"national":false,"logo":"https:\/\/media-1.api-sports.io\/football\/teams\/50.png"},"venue":{"id":555,"name":"Etihad Stadium","address":"Rowsley Street","city":"Manchester","capacity":55097,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/555.png"}},{"team":{"id":51,"name":"Brighton","code":"BRI","country":"England","founded":1901,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/51.png"},"venue":{"id":508,"name":"The American Express Community Stadium","address":"Village Way","city":"Falmer, East Sussex","capacity":31800,"surface":"grass","image":"https:\/\/media-3.api-sports.io\/football\/venues\/508.png"}},{"team":{"id":52,"name":"Crystal Palace","code":"CRY","country":"England","founded":1905,"national":false,"logo":"https:\/\/media-2.api-sports.io\/football\/teams\/52.png"},"venue":{"id":525,"name":"Selhurst Park","address":"Holmesdale Road","city":"London","capacity":26309,"surface":"grass","image":"https:\/\/media-1.api-sports.io\/football\/venues\/525.png"}}]}

In [7]:
# import pandas as pd
# import json
df = pd.DataFrame() 
for i in range(20):
    temp_df = pd.DataFrame(response_teams.json()['response'][i]['team'],index =[i])
    df = df.append(temp_df)

In [8]:
df

,id,name,code,country,founded,national,logo
0,33,Manchester United,MUN,England,1878,False,https://media-2.api-sports.io/football/teams/3...
1,34,Newcastle,NEW,England,1892,False,https://media-1.api-sports.io/football/teams/3...
2,35,Bournemouth,BOU,England,1899,False,https://media-1.api-sports.io/football/teams/3...
3,36,Fulham,FUL,England,1879,False,https://media-1.api-sports.io/football/teams/3...
4,37,Huddersfield,HUD,England,1908,False,https://media-2.api-sports.io/football/teams/3...
5,38,Watford,WAT,England,1881,False,https://media-2.api-sports.io/football/teams/3...
6,39,Wolves,WOL,England,1877,False,https://media-3.api-sports.io/football/teams/3...
7,40,Liverpool,LIV,England,1892,False,https://media-2.api-sports.io/football/teams/4...
8,41,Southampton,SOU,England,1885,False,https://media-2.api-sports.io/football/teams/4...
9,42,Arsenal,ARS,England,1886,False,https://media-2.api-sports.io/football/teams/4...
10,43,Cardiff,CAR,Wales,1889,False,https://media-3.api-sports.io/football/teams/4...
11,44,Burnley,BUR,England,1882,False,https://media-3.api-sports.io/football/teams/4...
12,45,Everton,EVE,England,1878,False,https://media-1.api-sports.io/football/teams/4...
13,46,Leicester,LEI,England,1884,False,https://media-1.api-sports.io/football/teams/4...
14,47,Tottenham,TOT,England,1882,False,https://media-1.api-sports.io/football/teams/4...
15,48,West Ham,WES,England,1895,False,https://media-3.api-sports.io/football/teams/4...
16,49,Chelsea,CHE,England,1905,False,https://media-3.api-sports.io/football/teams/4...
17,50,Manchester City,MAC,England,1880,False,https://media-1.api-sports.io/football/teams/5...
18,51,Brighton,BRI,England,1901,False,https://media-2.api-sports.io/football/teams/5...
19,52,Crystal Palace,CRY,England,1905,False,https://media-2.api-sports.io/football/teams/5...

In [9]:
#download the data using requests package
import requests
import keep_safe
df_final = pd.DataFrame()
teams_names = ["Crystal Palace","Manchester City","Liverpool"]
for i in teams_names:
  team = df[df["name"] == i]
  team_int = team.id.values[0]

  url = f"https://v3.football.api-sports.io/teams/statistics?season=2019&league=39&team={team_int}"

  payload={}
  headers = {
    'x-rapidapi-key': keep_safe.api_key,
    'x-rapidapi-host': 'v3.football.api-sports.io'
  }

  response_stats = requests.request("GET", url, headers=headers, data=payload)
  df_goals_minutes = pd.DataFrame(response_stats.json()['response']['goals']['for']['minute'])
  df_goals_minutes['team'] = i
  df_final = df_final.append(df_goals_minutes)
df_final

,0-15,16-30,31-45,46-60,61-75,76-90,91-105,106-120,team
total,1,4,5,7,5,7,2,None,Crystal Palace
percentage,3.23%,12.90%,16.13%,22.58%,16.13%,22.58%,6.45%,None,Crystal Palace
total,11,17,16,20,14,20,3,None,Manchester City
percentage,10.89%,16.83%,15.84%,19.80%,13.86%,19.80%,2.97%,None,Manchester City
total,10,11,20,13,12,15,3,None,Liverpool
percentage,11.90%,13.10%,23.81%,15.48%,14.29%,17.86%,3.57%,None,Liverpool

In [3]:
# connect to the SQL database. 
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/premier_league')

In [4]:
engine.connect()

In [11]:
# Check what the schema would be, can adjust if need be
print(pd.io.sql.get_schema(df_final, name='Goals_by_time', con=engine))

CREATE TABLE "Goals_by_time" (
	"0-15" TEXT,
	"16-30" TEXT,
	"31-45" TEXT,
	"46-60" TEXT,
	"61-75" TEXT,
	"76-90" TEXT,
	"91-105" TEXT,
	"106-120" TEXT,
	team TEXT
)

In [13]:
#push the headings to the database
df_final.to_sql(name='Goals_by_time', con=engine, if_exists='replace')
# success. 
# now we need to turn this into a script